extends layout

block content
    form(action="/add", method="post")
        label(for="bikeno") Bike Number
        input(type="text", name="bikeno")
        br
        label(for="key") Key
        input(type="text", name="key")
        br
        input(type="submit")
    p Back to 
        a(href='/') home