extends layout

block content
  p= msg
  h1 Search for a bike's key
  h2 Bike Number
  div(class='bike')
    select(id="bike-select")
  h2 Code
  div(class='key')

  p Add new bikes 
    a(href='/add') here
  
  script(src="javascripts/select.js")
